body {
  margin: 0;
}

.header-wrapper {
  width: 100vw;
}
.header-wrapper .header {
  display: flex;
  background-color: #9a4e4a;
  padding: 30px 10%;
}

.header-wrapper .header .nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}